body{
	background-color: #3B4258;
	font-size: 11px;
}
#nav1{
	background: #24283C;
	color: white;
	border-radius: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#col1{
	padding-left: 0px;
}
#msg1, #estatus1{
	background-color: #00695C;

	color: white;
	border: 0px;
	margin-bottom: 6px;

}
#estatus1{
	padding: 8px;
}

.card{
	background: #1F2336;
	color: white!important;
	border: 0px;

}
#nav1 li a{
	color: #90A4AE;
}
.card-link{
	color: #5C6BC0;
	text-decoration: none;
}
.card-body{
	padding: 8px!important;
}
#titulo1{
	font-size: 17px;
	font-weight: bold;
	color: white;
	padding-right: 94px;
	padding-left: 94px;
	border-right: 1px solid #3B4258;
}
.list-group-item{
	border: 0px solid transparent;
	padding-bottom: 4px;
}



table.dataTable tbody tr {
	background: transparent!important;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 0px;
}

.containeru{
	padding-right: 7%;
	padding-left: 7%;
}
.dataTables_wrapper .dataTables_filter input {
	border: 0px;
}
label{
	color: transparent;
}


table.dataTable tbody tr {
	background: transparent!important;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 0px;
}
button, input, optgroup, select, textarea {
	width: 100%;
	background: transparent!important;
	border: 0px;
	border-bottom: 1px solid gray;
}
.containeru{
	padding-right: 7%;
	padding-left: 7%;
}
.dataTables_wrapper .dataTables_filter input {
	border: 0px;
}
label{
	color: transparent;
}