.segundaFila{
	background-color: white;
}

.list-group-item{
	background: transparent;
	color:white;
}

.list-group-item.active{
	background: #00695C!important;
	border: 0px solid gray;
}


.my-custom-scrollbar {
position: relative;
height: 440px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}



/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}